@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
  }
  
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background: rgb(175,244,234);
    background: linear-gradient(0deg, rgba(175,244,234,1) 7%, rgba(68,226,203,1) 17%, rgba(58,184,217,1) 23%, rgba(80,129,219,1) 41%, rgba(77,48,222,1) 67%, rgba(41,161,234,1) 98%);
    
    height: 100%;
  }

  .box-shadow {
    -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
    box-shadow: 0 1px 6px 0 rgb(46,21,27);
  }

  p {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 18px;
  }

h1,
h2,
h3,
h4 {
  text-align: center;
}
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(98, 85, 8);
  }
  
  #logo-container {
    height: 60px;
    position: fixed;
    width: 100%;
    background-color: transparent;
    z-index: 1;
    transition: 1.5s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #logo-image{
    background-image: url("../images/sunwhere-logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 100px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 1.5px 2.5px rgb(236, 219, 65);
    -moz-box-shadow: 0px 0px 1.5px 2.5px #ecdb43;
    box-shadow: 0px 0px 1.5px 2.5px #ecdb43;
  }
  
  #logo-image:hover {
    -webkit-box-shadow: 0px 0px 3px 5px #ecdb43;
    -moz-box-shadow: 0px 0px 3px 5px #ecdb43;
    box-shadow: 0px 0px 3px 5px #ecdb43;
  }
  
/* WEATHER LOCATION DISPLAY */

.locationsBackgroundContainer{
    background-image: url("../images/road-trip2.jpg");
    height: 100vh;
    background-position: center, center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
}



.locationDayContainer {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 70px;
    margin: 10px auto ;
    border-radius: 10px;
    font-size: 0.7rem;
    text-align: center;
    width: 60%;
    max-width: 500px;
    
    background-color: rgba(192, 192, 192, 0.65);
  -webkit-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
}

#ourLocation {
    margin: 20px 0 10px;
    position: relative;
    text-align: center;
    top: 55px;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
    min-width: 300px;
    opacity: 1;
   
}


.locationDate {
}

.locationMainDetails {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.locationTemp {
    font-size: 1rem;
}

.locationIcon {


}

.locationDescription {
    font-size: 1rem;
}

.locationSmallDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
}

.locationFeels {

}

.locationHumidity {

}

.locationWind{
    
}


/* MAPS */
#mapContainer {
  display: flex;
  height: 400px;
  width: 100%;
  
}

#map {
  border-radius: 5px;
  margin: 80px auto;
  height: 100%;
  width: 80%;
}

#pac-input {
  border-color: transparent;
  padding: 2px 10px;
  margin-left: 12px;
  margin-top: 5px;
  font-size: 18px;
  background-color: rgba(196, 213, 233, 0.3);
  -webkit-box-shadow: inset 3px 2px 60px 8px rgba(148,187,233, 0.3);
  -moz-box-shadow: inset 3px 2px 60px 8px rgba(148,187,233, 0.3);
  box-shadow: inset 3px 2px 60px 8px rgba(148,187,233, 0.3);
  text-overflow: ellipsis;
  width: 80%;
}

#pac-input:hover {
  border: solid;
  border-color: rgba(180, 162, 58, 0.4);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#pac-input:focus {
  background-color: rgb(228, 236, 115);
}

.pac-item-query {
  padding-right: 10px;
  font-size: 1.2rem;
}

.pac-item {
  padding: 10px;
  font-size: 1.2rem;
}

#disclaimContainer {
  margin-top: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

#disclaimHeading {
  min-width: 250px;
  max-width: 800px;
  margin-bottom: 40px;
}

#disclaimBody {
  font-size: 0.8rem;
}

footer {
  margin-top: 80px;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#copyright{
  margin: auto;
}