/* RESULTS AREA STYLING */
h3 {
  font-size: 1.4rem;
  color: #c0c0c0;
}
 #resultsContainer {
     padding: 0px 20px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     position: relative;
     max-width: 800px;
     top: 70px;
     color: #c0c0c0;
     text-align: center;
     margin: 0 auto;
     max-height: 80vh;
     overflow: auto;
}
 #resultLink1 {
     display: none;
     margin: 10px 0 10px;
     font-size: 1.1rem;
     font-weight: 800;
     padding: 10px;
     border-radius: 5px;
     color: rgb(98, 85, 8);

     background: rgb(235,238,174);
     background: -o-radial-gradient(circle, rgba(235,238,174,1) 0%, rgba(148,187,233,1) 100%);
     background: radial-gradient(circle, rgba(235,238,174,1) 0%, rgba(148,187,233,1) 100%);
}
 #resultLink2, #resultLink3, #resultLink4, #resultLink5 {
     display: none;
     margin-bottom: 10px;
     font-size: 0.95rem;
     font-weight: 400;
     padding: 10px;
     border-radius: 5px;
     color: #c0c0c0;
     background: rgb(34,65,167);
     background: -o-radial-gradient(circle, rgba(34,65,167,1) 0%, rgba(52,150,214,1) 100%);
     background: radial-gradient(circle, rgba(34,65,167,1) 0%, rgba(52,150,214,1) 100%);
}
 #resultLink1:hover, #resultLink2:hover, #resultLink3:hover, #resultLink4:hover, #resultLink5:hover {
     -webkit-box-shadow: 0 1px 6px 0 rgb(236, 219, 67);
     box-shadow: 0 1px 6px 0 rgb(236, 219, 67);
}

/* MEDIA QUERIES */
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px){
  #resultLink1{
    font-size: 1.2rem;
  }
  #resultLink2, #resultLink3, #resultLink4, #resultLink5 {
    font-size: 1rem;
  }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {
  #resultLink1{
    margin: 30px 0 50px;
    font-size: 1.6rem;
  }
  #resultLink2, #resultLink3, #resultLink4, #resultLink5 {
    margin-bottom: 20px;
    font-size: 1.4rem;
  }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
  #resultLink1{
    margin: 50px 0 50px;
    font-size: 1.6rem;
  }
  #resultLink2, #resultLink3, #resultLink4, #resultLink5 {
    margin-bottom: 30px;
    font-size: 1.4rem;
  }

}
