@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;
  }
  
  * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  body {
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(38,137,216,1) 36%, rgba(41,96,234,1) 67%, rgba(45,150,253,1) 100%);
    height: 100vh;
  }

  .box-shadow {
    -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
    box-shadow: 0 1px 6px 0 rgb(46,21,27);
  }

  p {
    text-align: center;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 18px;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(98, 85, 8);
  }
  
  #logo-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    max-width: 200px;
    opacity: 1;
    transition: 1.5s;
  }
  
  #logo-image {
    width: 100%;
    max-width: auto;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 5px #ecdb43;
    -moz-box-shadow: 0px 0px 3px 5px #ecdb43;
    box-shadow: 0px 0px 3px 5px #ecdb43;
  }
  
  /* USED IN SCRIPT.JS TO FADE OUT LOGO */
  .fadeOut {
  }
  
#resultsContainer {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 800px;
    top: 100px;
    color: #c0c0c0;
    text-align: center;
    margin: 0 auto;
}
  
#resultBestLocation {
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
  color: rgb(54, 54, 54);
  background: rgb(235,238,174);
  background: radial-gradient(circle, rgba(235,238,174,1) 0%, rgba(148,187,233,1) 100%);
}

.resultLocation {
  margin: 20px;
  padding: 15px;
  border-radius: 5px;
  color: #c0c0c0;
  background: rgb(34,65,167);
  background: radial-gradient(circle, rgba(34,65,167,1) 0%, rgba(52,150,214,1) 100%);
}

 