@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
/* GENERAL & COMMON SITE STYLING */
 html {
     scroll-behavior: smooth;
}
 * {
     padding: 0;
     margin: 0;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}
 body {
     font-size: 16px;
     font-family: 'Lato', sans-serif;
     background: rgb(175,244,234);
     background: -webkit-gradient(linear, left bottom, left top, color-stop(7%, rgba(175,244,234,1)), color-stop(17%, rgba(68,226,203,1)), color-stop(23%, rgba(58,184,217,1)), color-stop(41%, rgba(80,129,219,1)), color-stop(67%, rgba(77,48,222,1)), color-stop(98%, rgba(41,161,234,1)));
     background: -o-linear-gradient(bottom, rgba(175,244,234,1) 7%, rgba(68,226,203,1) 17%, rgba(58,184,217,1) 23%, rgba(80,129,219,1) 41%, rgba(77,48,222,1) 67%, rgba(41,161,234,1) 98%);
     background: linear-gradient(0deg, rgba(175,244,234,1) 7%, rgba(68,226,203,1) 17%, rgba(58,184,217,1) 23%, rgba(80,129,219,1) 41%, rgba(77,48,222,1) 67%, rgba(41,161,234,1) 98%);
     height: 100vh;
}
 .box-shadow {
     -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
     box-shadow: 0 1px 6px 0 rgb(46,21,27);
}
 p {
     text-align: center;
     letter-spacing: 1px;
     word-spacing: 3px;
     line-height: 18px;
}
 a {
     text-decoration: none;
     cursor: pointer;
     color: rgb(98, 85, 8);
}
/* LOGO AREA STYLING */
 #logo-container {
     height: 60px;
     position: fixed;
     width: 100%;
     background-color: transparent;
     z-index: 1;
     -webkit-transition: 2s;
     -o-transition: 2s;
     transition: 2s;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-pack: center;
     -ms-flex-pack: center;
     justify-content: center;
     -webkit-box-align: center;
     -ms-flex-align: center;
     align-items: center;
}
 #logo-image{
     background-image: url("../images/sunwhere-logo.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
     height: 30px;
     width: 100px;
     border-radius: 5px;
     -webkit-box-shadow: 0px 0px 1.5px 2.5px rgb(236, 219, 65);
     box-shadow: 0px 0px 1.5px 2.5px #ecdb43;
}
 #logo-image:hover {
     -webkit-box-shadow: 0px 0px 3px 5px #ecdb43;
     box-shadow: 0px 0px 3px 5px #ecdb43;
}
/* RESULTS AREA STYLING */
 #resultsContainer {
     padding: 0px 20px;
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     -webkit-box-orient: vertical;
     -webkit-box-direction: normal;
     -ms-flex-direction: column;
     flex-direction: column;
     position: relative;
     max-width: 800px;
     top: 70px;
     color: #c0c0c0;
     text-align: center;
     margin: 0 auto;
     max-height: 80vh;
     overflow: auto;
}
 #resultLink1 {
     display: none;
     margin: 20px 0 30px;
     font-size: 1.1rem;
     font-weight: 800;
     padding: 10px;
     border-radius: 5px;
     color: rgb(54, 54, 54);
     background: rgb(235,238,174);
     background: -o-radial-gradient(circle, rgba(235,238,174,1) 0%, rgba(148,187,233,1) 100%);
     background: radial-gradient(circle, rgba(235,238,174,1) 0%, rgba(148,187,233,1) 100%);
}
 #resultLink2, #resultLink3, #resultLink4, #resultLink5 {
     display: none;
     margin-bottom: 10px;
     font-size: 0.95rem;
     font-weight: 400;
     padding: 10px;
     border-radius: 5px;
     color: #c0c0c0;
     background: rgb(34,65,167);
     background: -o-radial-gradient(circle, rgba(34,65,167,1) 0%, rgba(52,150,214,1) 100%);
     background: radial-gradient(circle, rgba(34,65,167,1) 0%, rgba(52,150,214,1) 100%);
}
 #resultLink1:hover, #resultLink2:hover, #resultLink3:hover, #resultLink4:hover, #resultLink5:hover {
     -webkit-box-shadow: 0 1px 6px 0 rgb(236, 219, 67);
     box-shadow: 0 1px 6px 0 rgb(236, 219, 67);
}
