html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: rgb(15, 15, 15);
  font-size: 16px;
  height: 300vh;
}

p {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 18px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: rgb(98, 85, 8);
}

#logo-container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  max-width: 200px;
  opacity: 1;
  transition: 1.5s;
}

#logo-image {
  width: 100%;
  max-width: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 3px 5px #ecdb43;
  -moz-box-shadow: 0px 0px 3px 5px #ecdb43;
  box-shadow: 0px 0px 3px 5px #ecdb43;
}

.fadeOut {
}

#weatherBackgroundContainer {
  height: 100vh;
}

#weatherBackgroundImage {
  background-color: #464646;
  background-image: url("assets/images/clear-sky1.jpg");
  width: 100%;
  height: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#weatherCurrentInfoContainer {
  padding: 10px;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 15%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  border-radius: 20px;

  background-color: rgba(192, 192, 192, 0.85);
  -webkit-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
}

#informationNotification {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(49, 2, 2);
}

#dateTimeContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#currentDate,
#currentTime {
  align-self: center;
}

#weatherMainDetailsContainer {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#weatherCurrentInfoName {
  font-size: 1.5rem;
}

#weatherCurrentTemp {
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
}

#weatherCurrentDescription {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

#weatherSmallDetailsContainer {
  width: 95%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#weatherCurrentFeelsLike,
#weatherCurrentHumidity,
#weatherCurrentWindSpeed {
  text-align: center;
}

#introduction {
  padding: 10px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  top: 55%;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  border-radius: 20px;

  background-color: rgba(192, 192, 192, 0.85);
  -webkit-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
}

#locationInputContainer {
  margin-top: 50px;

  flex-direction: column;
}

#locationInputContainer p {
  font-size: 1.2rem;
  width: 90%;
  margin: 0 auto;
  line-height: 25px;
}

.locationForm {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  
}

#locationForm input {
 
}
