@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  color: rgb(15, 15, 15);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  text-transform: initial;
  height: 100%;
  background: rgb(175,244,234);
  background: linear-gradient(0deg, rgba(175,244,234,1) 7%, rgba(68,226,203,1) 17%, rgba(58,184,217,1) 23%, rgba(80,129,219,1) 41%, rgba(77,48,222,1) 67%, rgba(41,161,234,1) 98%);
}

p {
  text-align: center;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 18px;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  /* background: -webkit-linear-gradient(rgb(200, 160, 25), rgb(231, 247, 13));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.box-shadow {
  -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
  box-shadow: 0 1px 6px 0 rgb(46,21,27);
}

a {
  text-decoration: none;
  cursor: pointer;
}

strong {
  color:  #fbc000;
}

#logo-container {
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: 1.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logo-image{
  background-image: url("../images/sunwhere-logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  width: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 1.5px 2.5px rgb(236, 219, 65);
  -moz-box-shadow: 0px 0px 1.5px 2.5px #ecdb43;
  box-shadow: 0px 0px 1.5px 2.5px #ecdb43;
}

#logo-image:hover {
  -webkit-box-shadow: 0px 0px 3px 5px #ecdb43;
  -moz-box-shadow: 0px 0px 3px 5px #ecdb43;
  box-shadow: 0px 0px 3px 5px #ecdb43;
}


#weatherBackgroundContainer {
  background-image: url("");
  min-height: 100vh;
  height: 100%;
  background-position: center, center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow: auto;
}

#weatherCurrentInfoContainer {
  padding: 10px;
  max-height: 300px;
  display: none;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 80px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  border-radius: 20px;

  background-color: rgba(192, 192, 192, 0.65);
  -webkit-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
}

#informationNotification {
  font-size: 0.8rem;
  text-align: center;
  color: rgb(49, 2, 2);
}

#dateTimeContainer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#currentDate,
#currentTime {
  align-self: center;
}

#weatherMainDetailsContainer {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#weatherCurrentInfoName {
  font-size: 1.5rem;
}

#weatherCurrentTemp {
  position: relative;
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  cursor: pointer;
}

#weatherCurrentDescription {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}

#weatherSmallDetailsContainer {
  width: 95%;
  height: 50px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

#weatherCurrentFeelsLike,
#weatherCurrentHumidity,
#weatherCurrentWindSpeed {
  text-align: center;
  padding: 10px;
}

/* STYLING FOR - COMPARE THE WEATHER INTRODUCTION BOX */
#introduction {
  padding: 10px;
  max-height: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  top: 120px;
  left: 50%;
  transform: translate(-50%);
  width: 50%;
  max-width: 500px;
  min-width: 300px;
  margin-bottom: 20px;
  border-radius: 20px;

  background-color: rgba(192, 192, 192, 0.65);
  -webkit-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
  box-shadow: inset 3px 2px 60px 8px rgba(0, 0, 0, 0.57);
}

#introduction h2{
  margin-bottom: 10px;
}

#introduction p{
  margin-bottom: 5px;
}

#locationInputContainer h2 {
  margin-top: 70px;
  margin-bottom: 20px;
  font-weight: 900;
  background: -webkit-linear-gradient(rgb(200, 160, 25), rgb(231, 247, 13));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

#locationInputContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#locationInputContainer p {
  color: #d1cccc;
  font-size: 0.9rem;
  width: 90%;
  margin: 10px auto;
}

.locationForm {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 0 auto;  
}

#location2,
#location3,
#location4,
#location5 {
  color: #000;
  margin-top: 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  text-align: center;
  padding: 10px;
  border: solid 0.5px #555555;
  text-overflow: ellipsis;
  background-color: transparent;
  /* -webkit-box-shadow: 0 1px 6px 0 rgba(46,21,27);
  box-shadow: 0 1px 6px 0 rgba(46,21,27); */
}

#location2:hover,
#location3:hover,
#location4:hover,
#location5:hover {
  border: solid 0.5px transparent;
  background: rgb(247,249,250);
  background: radial-gradient(circle, rgba(247,249,250,1) 28%, rgba(76,187,223,0.5323341006324405) 100%);
  -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
  box-shadow: 0 1px 6px 0 rgb(46,21,27);
}


#location2:focus,
#location3:focus,
#location4:focus,
#location5:focus {
  outline: none;
  border: solid 0.5px transparent;
  background: rgb(247,249,250);
  background: radial-gradient(circle, rgba(247,249,250,1) 28%, rgba(76,187,223,0.5323341006324405) 100%);
  -webkit-box-shadow: 0 1px 6px 0 rgb(46,21,27);
  box-shadow: 0 1px 6px 0 rgb(46,21,27);
}
::placeholder {
  color: #555555;
}

.pac-icon {
  display: none;
}

.pac-item-query {
  padding-right: 10px;
  font-size: 1.2rem;
}

.pac-item {
  padding: 10px;
  font-size: 1.2rem;
}

#clickForResults {
  margin-top: 50px;
  font-size: 1.6rem;
  padding: 0.5rem 2rem;
  text-align: center;
  border-radius: 20px;
  height: 50px;
  align-content: center;
  justify-content: center;
  background: rgb(251,183,63);
  background: radial-gradient(circle, rgba(251,183,63,1) 0%, rgba(252,204,70,1) 100%);

}

footer {
  margin-top: 80px;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#copyright{
  margin: auto;
}